.comments {
  .comments__main-count {
    position: relative;
    display: inline-block;
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 170%;
    color: #2C2C2C;
    .comments__main-count-number {}
    .comments__main-count-new {
      position: absolute;
      left: 100%;
      bottom: 100%;
      background: #0045BF;
      border-radius: 16px;
      padding: 2px 8px;
      font-family: 'Inter',sans-serif;
      font-style: normal;
      font-weight: 600;
      font-size: 13px;
      line-height: 130%;
      color: #FFFFFF;
    }
  }
  .comments__wrapper {}
}

.comments .comment {
  margin-top: 32px;
  display: grid;
  grid-template-columns: auto 1fr;
  column-gap: 16px;
  .comment__avatar {
    overflow: hidden;
    .comment__avatar-img {
      border-radius: 50%;
      display: block;
      width: 54px;
      height: 54px;
      object-position: center;
      object-fit: cover;
    }
  }
  .comment__main {
    .comment__text-block {
      background: #FEFEFE;
      border: 1px solid #EFEFEF;
      border-radius: 8px;
      padding: 16px 24px 24px;

      display: flex;
      flex-direction: column;
      gap: 8px;
      .comment__info {
        display: flex;
        font-family: 'Inter', sans-serif;
        font-style: normal;
        font-weight: 400;
        font-size: 15px;
        line-height: 170%;
        color: #2C2C2C;
        .comment__author {
          font-weight: 600;
          cursor: pointer;
          &:hover {
            color: #0040B0;
          }
        }
        .comment__reply-author {
          font-weight: 600;
          color: #ABABAB;
          &:before {
            content: '\00a0';
          }
        }
        .comment__date {
          margin-left: 8px;
          color: #ABABAB;
        }
      }
      .comment__body {}
      .comment__attached-files {
        margin-top: 8px;
      }
    }
    .comment__technical {
      margin-top: 16px;
      display: flex;
      gap: 24px;
      .comment__reply {}
      .comment__link {}
      .comment__back {}
      .comment__reactions {}
    }
  }

  .comment__collapse-expand-btn {
    margin-top: 14px;
    grid-column: 2;
  }
  .comment__3lvl-hider {
    margin-top: 24px;
    grid-column: span 2;
  }
  .comment__inner {
    grid-column: 2;
  }

  &--2lvl {
    margin-left: -9px;
    max-width: 558px;
    &>.comment__avatar {
      .comment__avatar-img {
        width: 42px;
        height: 42px;
      }
    }
    &>.comment__3lvl-hider {
      margin-left: -13px;
    }
  }
  &--3lvl {
    margin-left: -13px;
    max-width: 598px;
    &>.comment__avatar {
      .comment__avatar-img {
        width: 42px;
        height: 42px;
      }
    }
    &>.comment__3lvl-hider {
      margin-left: -13px;
    }
  }
}

.comments .comment-body {
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 170%;
  color: #2C2C2C;
  //&>*:not(:last-child) {
  //  margin-bottom: 8px;
  //}
  .comment__quote {
    margin: 8px 0;
    &:before {
      content: '';
      display: inline-block;
      width: 48px;
      height: 48px;
      background-repeat: no-repeat;
      background-position: center center;
      background-image: url("data:image/svg+xml,%3Csvg width='48' height='48' viewBox='0 0 48 48' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cg clip-path='url(%23clip0_1360_21937)'%3E%3Cpath d='M2 34H8L12 26V14H0V26H6L2 34ZM18 34H24L28 26V14H16V26H22L18 34Z' fill='%230075FE'/%3E%3C/g%3E%3Cdefs%3E%3CclipPath id='clip0_1360_21937'%3E%3Crect width='48' height='48' fill='white'/%3E%3C/clipPath%3E%3C/defs%3E%3C/svg%3E%0A");
    }
    .comment__quote-body {
      font-size: 24px;
      line-height: 140%
    }
    .comment__quote-info {
      margin-top: 8px;
      display: flex;
      align-items: center;
      gap: 8px;
      &:before {
        content: '';
        display: inline-block;
        width: 40px;
        height: 1px;
        border-bottom: 1px solid #000000;
      }
      &>* {
        text-decoration: none;
      }
      .comment__quote-author-name {}
      .comment__quote-author-position {}
      .comment__quote-author-link {}
    }
  }
  .comment__images {
    margin: 8px 0;
    max-width: 344px;
    display: grid;
    grid-gap: 8px;
    .comment__image-wrapper {
      .comment__image-wrapper-img {
        display: block;
        height: 96px;
        width: 100%;
        object-position: center;
        object-fit: cover;
      }
    }
    &--2x {
      grid-template-columns: repeat(2, 1fr);
    }
    &--4x {
      grid-template-columns: repeat(4, 1fr);
    }
  }
}

.comments .comment__collapse-expand-btn {
  cursor: pointer;
  width: fit-content;
  display: flex;
  align-items: center;

  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 170%;
  color: #ABABAB;

  &:before {
    content: '';
    display: inline-block;
    width: 20px;
    height: 20px;
    background-repeat: no-repeat;
    background-position: center center;
    margin-right: 8px;
  }
  .comment__collapse-expand-btn__count {}

  &--collapse {
    &:before {
      background-color: #C6C6C6;
      background-image: url("data:image/svg+xml,%3Csvg width='20' height='20' viewBox='0 0 20 20' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M2.5 10C2.5 9.65482 2.77982 9.375 3.125 9.375H16.875C17.2202 9.375 17.5 9.65482 17.5 10C17.5 10.3452 17.2202 10.625 16.875 10.625H3.125C2.77982 10.625 2.5 10.3452 2.5 10Z' fill='white'/%3E%3C/svg%3E");
    }
  }
  &--expand {
    &:before {
      background-color: #0045BF;
      background-image: url("data:image/svg+xml,%3Csvg width='20' height='20' viewBox='0 0 20 20' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M2.5 10C2.5 9.65482 2.77982 9.375 3.125 9.375H16.875C17.2202 9.375 17.5 9.65482 17.5 10C17.5 10.3452 17.2202 10.625 16.875 10.625H3.125C2.77982 10.625 2.5 10.3452 2.5 10Z' fill='white'/%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M10 2.5C10.3452 2.5 10.625 2.77982 10.625 3.125V16.875C10.625 17.2202 10.3452 17.5 10 17.5C9.65482 17.5 9.375 17.2202 9.375 16.875V3.125C9.375 2.77982 9.65482 2.5 10 2.5Z' fill='white'/%3E%3C/svg%3E");    }
  }
}

.comments .comment__3lvl-hider {
  cursor: pointer;
  display: grid;
  grid-template-columns: 24px 1fr;
  align-items: center;
  column-gap: 8px;
  &:before {
    content: '';
    display: inline-block;
    width: 22px;
    height: 22px;
    border: 1px solid #EFEFEF;
    background-repeat: no-repeat;
    background-position: center center;
    background-color: #FFFFFF;
    background-image: url("data:image/svg+xml,%3Csvg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M11.4697 6.96967C11.7626 6.67678 12.2374 6.67678 12.5303 6.96967L20.0303 14.4697C20.3232 14.7626 20.3232 15.2374 20.0303 15.5303C19.7374 15.8232 19.2626 15.8232 18.9697 15.5303L12 8.56066L5.03033 15.5303C4.73744 15.8232 4.26256 15.8232 3.96967 15.5303C3.67678 15.2374 3.67678 14.7626 3.96967 14.4697L11.4697 6.96967Z' fill='%23C6C6C6'/%3E%3C/svg%3E");
    transition: background-color .3s ease-in-out, border .3s ease-in-out, filter .3s ease-in-out;
  }
  &:after {
    content: '';
    display: inline-block;
    background: #EFEFEF;
    height: 1px;
    width: 100%;
  }

  &:hover {
    &:before {
      border: 1px solid #0045BF;
      background-color: #0045BF;
      filter: brightness(1);
    }
  }
}