.widget.birthdays {
  .birthdays__body {
    margin-top: 16px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    .birthdays__date {
      display: flex;
      gap: 8px;

      font-family: 'Inter', sans-serif;
      font-style: normal;
      font-weight: 400;
      font-size: 15px;
      line-height: 170%;
      color: #2C2C2C;

      &:before {
        content: '';
        display: inline-block;
        width: 24px;
        height: 24px;
        background-repeat: no-repeat;
        background-position: center center;
        background-image: url("data:image/svg+xml,%3Csvg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M8.97987 4.39737C9.2268 4.34312 9.48344 4.35216 9.72595 4.42366C9.96786 4.49499 10.1879 4.62616 10.3657 4.80503C10.3661 4.80547 10.3665 4.8059 10.3669 4.80634L19.1936 13.633C19.1941 13.6335 19.1946 13.634 19.1951 13.6345C19.3739 13.8123 19.505 14.0322 19.5763 14.274C19.6478 14.5165 19.6569 14.7732 19.6026 15.0201C19.5484 15.267 19.4326 15.4963 19.266 15.6865C19.0994 15.8767 18.8875 16.0217 18.6499 16.108L4.7702 21.1501C4.50326 21.2506 4.21302 21.2724 3.93396 21.2129C3.65247 21.1529 3.39438 21.0126 3.19087 20.8091C2.98735 20.6056 2.8471 20.3475 2.78706 20.066C2.72754 19.7869 2.74938 19.4967 2.84993 19.2297L7.89191 5.35018C7.97827 5.11256 8.12332 4.90053 8.31352 4.73397C8.50372 4.5674 8.73293 4.45162 8.97987 4.39737ZM3.55309 19.4906L4.25365 19.7584C4.2543 19.7567 4.25444 19.7549 4.25407 19.7531C4.25369 19.7514 4.25281 19.7497 4.25153 19.7484C4.25025 19.7472 4.24863 19.7463 4.24685 19.7459C4.24513 19.7455 4.24335 19.7457 4.2417 19.7463L4.24915 19.7435L3.55309 19.4906ZM4.26073 19.7392L18.1375 14.6982L18.1353 14.696L9.30401 5.86471L9.30174 5.86243L4.26073 19.7392Z' fill='%230045BF'/%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M20.25 1.5C20.6642 1.5 21 1.83579 21 2.25H20.25C21 2.25 21 2.25038 21 2.25076L21 2.25157L21 2.25336L21 2.25758L20.9998 2.26855C20.9997 2.27696 20.9995 2.28758 20.999 2.30025C20.9982 2.32558 20.9966 2.35926 20.9937 2.40012C20.9879 2.48158 20.9766 2.59306 20.9546 2.72486C20.9113 2.98492 20.8232 3.34312 20.6396 3.71041C20.4545 4.08063 20.165 4.47367 19.7168 4.77248C19.2639 5.07441 18.6937 5.25 18 5.25C17.5687 5.25 17.2952 5.35566 17.1152 5.4756C16.9306 5.59867 16.7982 5.76813 16.7021 5.96041C16.6045 6.15562 16.5519 6.35992 16.525 6.52174C16.5118 6.60087 16.5055 6.66517 16.5025 6.70676C16.501 6.72742 16.5004 6.74208 16.5001 6.74972L16.5 6.75524C16.4972 7.16704 16.1625 7.5 15.75 7.5C15.3358 7.5 15 7.16421 15 6.75H15.75C15 6.75 15 6.74962 15 6.74924L15 6.74843L15 6.74664L15 6.74242L15.0002 6.73145C15.0003 6.72304 15.0005 6.71242 15.001 6.69975C15.0018 6.67442 15.0034 6.64074 15.0063 6.59988C15.0121 6.51842 15.0234 6.40694 15.0454 6.27514C15.0887 6.01508 15.1768 5.65688 15.3604 5.28959C15.5455 4.91937 15.835 4.52633 16.2832 4.22752C16.7361 3.92559 17.3063 3.75 18 3.75C18.4313 3.75 18.7048 3.64434 18.8848 3.5244C19.0694 3.40133 19.2018 3.23187 19.2979 3.03959C19.3955 2.84438 19.4481 2.64008 19.475 2.47826C19.4882 2.39913 19.4945 2.33483 19.4975 2.29324C19.499 2.27258 19.4996 2.25792 19.4999 2.25028L19.5 2.24476C19.5028 1.83296 19.8375 1.5 20.25 1.5ZM19.5 2.24436V2.24436V2.24436Z' fill='%230045BF'/%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M4.86969 13.8697C5.16259 13.5768 5.63746 13.5768 5.93035 13.8697L10.1304 18.0697C10.4232 18.3626 10.4232 18.8374 10.1304 19.1303C9.83746 19.4232 9.36259 19.4232 9.06969 19.1303L4.86969 14.9303C4.5768 14.6374 4.5768 14.1626 4.86969 13.8697Z' fill='%230045BF'/%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M13.5 0.75C13.9142 0.75 14.25 1.08579 14.25 1.5V3.75C14.25 4.16421 13.9142 4.5 13.5 4.5C13.0858 4.5 12.75 4.16421 12.75 3.75V1.5C12.75 1.08579 13.0858 0.75 13.5 0.75Z' fill='%230045BF'/%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M19.7197 9.96967C20.0126 9.67678 20.4874 9.67678 20.7803 9.96967L22.2803 11.4697C22.5732 11.7626 22.5732 12.2374 22.2803 12.5303C21.9874 12.8232 21.5126 12.8232 21.2197 12.5303L19.7197 11.0303C19.4268 10.7374 19.4268 10.2626 19.7197 9.96967Z' fill='%230045BF'/%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M23.2115 6.51283C23.3425 6.90579 23.1301 7.33053 22.7371 7.46152L20.4871 8.21152C20.0942 8.3425 19.6694 8.13013 19.5384 7.73718C19.4075 7.34422 19.6198 6.91948 20.0128 6.78849L22.2628 6.03849C22.6557 5.90751 23.0805 6.11988 23.2115 6.51283Z' fill='%230045BF'/%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M6.66962 8.91967C6.96251 8.62677 7.43739 8.62677 7.73028 8.91967L15.0803 16.2697C15.3732 16.5626 15.3732 17.0374 15.0803 17.3303C14.7874 17.6232 14.3125 17.6232 14.0196 17.3303L6.66962 9.98033C6.37673 9.68743 6.37673 9.21256 6.66962 8.91967Z' fill='%230045BF'/%3E%3C/svg%3E");
      }
    }

    .birthdays__wrapper {
      display: flex;
      flex-direction: column;
      gap: 16px;
      .birthdays__item {
        &:not(:last-of-type) {
          border-bottom: 1px solid #EFEFEF;
          padding-bottom: 16px;
        }
      }
    }

    &:hover {
      .birthdays__date {
        &:before {
          background-image: url("data:image/svg+xml,%3Csvg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M8.97993 4.39737C9.22686 4.34312 9.4835 4.35216 9.72601 4.42366C9.96792 4.49499 10.1879 4.62616 10.3657 4.80503C10.3661 4.80547 10.3666 4.8059 10.367 4.80634L19.1937 13.633C19.1942 13.6335 19.1947 13.634 19.1952 13.6345C19.374 13.8123 19.5051 14.0322 19.5764 14.274C19.6479 14.5165 19.6569 14.7732 19.6027 15.0201C19.5484 15.267 19.4326 15.4963 19.2661 15.6865C19.0995 15.8767 18.8876 16.0217 18.6499 16.108L4.77026 21.1501C4.50332 21.2506 4.21308 21.2724 3.93402 21.2129C3.65253 21.1529 3.39444 21.0126 3.19093 20.8091C2.98741 20.6056 2.84716 20.3475 2.78713 20.066C2.7276 19.7869 2.74944 19.4967 2.84999 19.2297L7.89197 5.35018C7.97833 5.11256 8.12338 4.90053 8.31358 4.73397C8.50378 4.5674 8.733 4.45162 8.97993 4.39737ZM3.55315 19.4906L4.25372 19.7584C4.25436 19.7567 4.25451 19.7549 4.25413 19.7531C4.25375 19.7514 4.25287 19.7497 4.25159 19.7484C4.25031 19.7472 4.24869 19.7463 4.24691 19.7459C4.2452 19.7455 4.24341 19.7457 4.24176 19.7463L4.24921 19.7435L3.55315 19.4906ZM4.2608 19.7392L18.1376 14.6982L18.1353 14.696L9.30407 5.86471L9.3018 5.86243L4.2608 19.7392Z' fill='%235FA0FF'/%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M20.25 1.5C20.6642 1.5 21 1.83579 21 2.25H20.25C21 2.25 21 2.25038 21 2.25076L21 2.25157L21 2.25336L21 2.25758L20.9998 2.26855C20.9997 2.27696 20.9995 2.28758 20.999 2.30025C20.9982 2.32558 20.9966 2.35926 20.9937 2.40012C20.9879 2.48158 20.9766 2.59306 20.9546 2.72486C20.9113 2.98492 20.8232 3.34312 20.6396 3.71041C20.4545 4.08063 20.165 4.47367 19.7168 4.77248C19.2639 5.07441 18.6937 5.25 18 5.25C17.5687 5.25 17.2952 5.35566 17.1152 5.4756C16.9306 5.59867 16.7982 5.76813 16.7021 5.96041C16.6045 6.15562 16.5519 6.35992 16.525 6.52174C16.5118 6.60087 16.5055 6.66517 16.5025 6.70676C16.501 6.72742 16.5004 6.74208 16.5001 6.74972L16.5 6.75524C16.4972 7.16704 16.1625 7.5 15.75 7.5C15.3358 7.5 15 7.16421 15 6.75H15.75C15 6.75 15 6.74962 15 6.74924L15 6.74843L15 6.74664L15 6.74242L15.0002 6.73145C15.0003 6.72304 15.0005 6.71242 15.001 6.69975C15.0018 6.67442 15.0034 6.64074 15.0063 6.59988C15.0121 6.51842 15.0234 6.40694 15.0454 6.27514C15.0887 6.01508 15.1768 5.65688 15.3604 5.28959C15.5455 4.91937 15.835 4.52633 16.2832 4.22752C16.7361 3.92559 17.3063 3.75 18 3.75C18.4313 3.75 18.7048 3.64434 18.8848 3.5244C19.0694 3.40133 19.2018 3.23187 19.2979 3.03959C19.3955 2.84438 19.4481 2.64008 19.475 2.47826C19.4882 2.39913 19.4945 2.33483 19.4975 2.29324C19.499 2.27258 19.4996 2.25792 19.4999 2.25028L19.5 2.24476C19.5028 1.83296 19.8375 1.5 20.25 1.5ZM19.5 2.24436V2.24436V2.24436Z' fill='%23FEB14A'/%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M4.86969 13.8697C5.16259 13.5768 5.63746 13.5768 5.93035 13.8697L10.1304 18.0697C10.4232 18.3626 10.4232 18.8374 10.1304 19.1303C9.83746 19.4232 9.36259 19.4232 9.06969 19.1303L4.86969 14.9303C4.5768 14.6374 4.5768 14.1626 4.86969 13.8697Z' fill='%235FA0FF'/%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M13.5 0.75C13.9142 0.75 14.25 1.08579 14.25 1.5V3.75C14.25 4.16421 13.9142 4.5 13.5 4.5C13.0858 4.5 12.75 4.16421 12.75 3.75V1.5C12.75 1.08579 13.0858 0.75 13.5 0.75Z' fill='%23FE564F'/%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M19.7197 9.96967C20.0126 9.67678 20.4874 9.67678 20.7803 9.96967L22.2803 11.4697C22.5732 11.7626 22.5732 12.2374 22.2803 12.5303C21.9874 12.8232 21.5126 12.8232 21.2197 12.5303L19.7197 11.0303C19.4268 10.7374 19.4268 10.2626 19.7197 9.96967Z' fill='%23FEB14A'/%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M23.2115 6.51283C23.3425 6.90579 23.1301 7.33053 22.7372 7.46152L20.4872 8.21152C20.0942 8.3425 19.6695 8.13013 19.5385 7.73718C19.4075 7.34422 19.6199 6.91948 20.0128 6.78849L22.2628 6.03849C22.6558 5.90751 23.0805 6.11988 23.2115 6.51283Z' fill='%23FE564F'/%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M6.66968 8.91967C6.96258 8.62677 7.43745 8.62677 7.73034 8.91967L15.0803 16.2697C15.3732 16.5626 15.3732 17.0374 15.0803 17.3303C14.7874 17.6232 14.3126 17.6232 14.0197 17.3303L6.66968 9.98033C6.37679 9.68743 6.37679 9.21256 6.66968 8.91967Z' fill='%235FA0FF'/%3E%3C/svg%3E");
        }
      }
    }
  }
}

.widget .birthday {
  display: grid;
  grid-template-columns: auto 1fr;
  align-items: center;
  column-gap: 8px;
  .birthday__banner {
    overflow: hidden;
    border-radius: 50%;
    width: fit-content;
    cursor: pointer;
    .birthday__img {
      display: block;
      width: 64px;
      height: 64px;
      object-position: center;
      object-fit: cover;
    }
  }
  .birthday__text {
    cursor: pointer;
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 155%;
    color: #2C2C2C;
  }

  &:hover {
    .birthday__text {
      color: #0040B0;
    }
  }
}