
.main-nav {
  position: relative;
  background: #FEFEFE;
  width: 100%;
  box-shadow: 0 2px 8px rgba(95, 160, 255, 0.08);
  border-bottom: 1px solid #EFEFEF;
  .main-nav__wrapper {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    .main-nav__menu {}
    .main-nav__search {}
  }
}

